/* Swiper */
html,
body {
  position: relative;
  height: 100%;
}
.swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 960px;
  height: 640px;
  background: #ccc;
}
.swiper-slide {
  text-align: center;
  word-break: break-all;
  overflow-y: hidden;
}
.ss-title {
  font-size: 20px;
  color: #ff0;
  font-weight: bolder;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: #d93f42;
  letter-spacing: 5px;
}
/* Slide - ss-x  */
.ss-a > img {
  width: 100%;
  height: 640px;
}
.ss-b {
  background: url("../images/bg-b.png") 0 0 no-repeat;
  background-size: cover;
  padding-top: 60px;
}
.ss-b--box {
  padding: 10px 10px;
}
.ss-b--row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.ss-b--col {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 470px;
  padding-bottom: 25px;
  line-height: 1.6;
  text-align: left;
}
.ss-b--title {
  height: 60px;
}
.ss-b--val {
  font-weight: bold;
  font-size: 16px;
}
.ss-b--unit {
  font-size: 12px;
  word-break: keep-all;
}
.ss-b--name {
  font-weight: bold;
  font-size: 14px;
}
.ss-b--icon {
  width: 46px;
  height: 46px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  background-size: 100%;
}
.ss-b .icon-cnwd {
  background-image: url("../images/cnwd.png");
}
.ss-b .icon-cnsd {
  background-image: url("../images/cnsd.png");
}
.ss-b .icon-yqhl {
  background-image: url("../images/yqhl.png");
}
.ss-b .icon-pm25 {
  background-image: url("../images/pm25.png");
}
.ss-b .icon-sdyl {
  background-image: url("../images/sdyl.png");
}
.ss-b .icon-gffd {
  background-image: url("../images/gffd.png");
}
.ss-b .icon-co2 {
  background-image: url("../images/co2.png");
}
.ss-b .icon-jybm {
  background-image: url("../images/jybm.png");
}
.ss-b .pd-l-5 {
  padding-left: 5px;
}
.ss-c {
  background: url("../images/bg-c.png");
  background-size: cover;
}
.ss-c {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.ss-c_flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 10px 0;
  height: 30px;
}
.ss-c_flex1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ss-c_name {
  font-weight: bolder;
}
.ss-c_score {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.ss-c_score > div {
  height: 33px;
  line-height: 30px;
  width: 36px;
  text-align: center;
  font-weight: bold;
}
.ss-c_score_pre {
  border: 2px solid #ffa012;
  border-right: 1px solid #ffa012;
  border-top: 4px solid #d93f42;
}
.ss-c_score_aft {
  border: 2px solid #ffa012;
  border-top: 4px solid #32a6d7;
  border-left: 1px solid #ffa012;
}
.ss-c_card {
  margin: 30px 0;
}
.ss-parent-card {
  width: 100%;
}
