/* Swiper */
html,
body {
  position: relative;
  height: 100%;
}
.swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 960px;
  height: 640px;
  background: #ccc;
}
.swiper-slide {
  text-align: center;
  border: 5px solid #ccc;
  word-break: break-all;
  overflow-y: hidden;
}
/* Slide - ss-x  */
.ss-a {
  background: #e5e5e5;
}
.ss-a > img {
  object-fit: contain;
}
.ss-b {
  background: #fff;
}
.ss-c {
  background: #f60;
}
