.ss-c
  background url("../images/bg-c.png")
  background-size cover
.ss-c
  display flex
  justify-content center
  align-items center
  &_flex
    display flex
    justify-content space-between
    align-items center
    margin 10px 0
    height 30px
.ss-c_flex1
  flex 1
.ss-c_name
  font-weight bolder
.ss-c_score
  display flex
  justify-content center
  & > div
    height 33px
    line-height 30px
    width 36px
    text-align center
    font-weight bold
.ss-c_score_pre
  border 2px solid #ffa012
  border-right 1px solid #ffa012
  border-top 4px solid #d93f42

.ss-c_score_aft
  border 2px solid #ffa012
  border-top 4px solid #32a6d7
  border-left 1px solid #ffa012
.ss-c_card
  margin 30px 0
.ss-parent-card
  width 100%
