.bf
  $w = $areaRightW
  $tabH = rem(90)
  $panelH = $areaLeftBdH1 + $titleH + $gap * 2 + $areaLeftBdH2

  .bf-tab
    width 100%
    height $tabH
    display flex
    padding-left 6px
    cursor pointer
    user-select none

    &-item
      display flex
      justify-content center
      align-items center
      width ($w / 3)
      padding 10px
      margin-right 10px
      border-top-left-radius 6px
      border-top-right-radius 6px
      font-size: 22px;
      color yellow
      font-weight bolder
      -webkit-text-stroke-width: 1.4px;
      -webkit-text-stroke-color: #d93f42;

    &-active
      background #fff

  .bf-panel
    height $panelH
    padding 10px


    .hide
      display none
