.bf
  $w = $areaRightW
  $tabH = rem(90)
  $panelH = $areaLeftBdH1 + $titleH + $gap * 2 + $areaLeftBdH2

  .bf-tab
    width 100%
    height $tabH
    display flex
    padding-left 6px
    cursor pointer
    user-select none

    &-item
      display flex
      justify-content center
      align-items center
      width ($w / 3)
      padding 10px
      margin-right 10px
      border-top-left-radius 6px
      border-top-right-radius 6px
      font-size: 22px;
      color yellow
      font-weight bolder
      -webkit-text-stroke-width: 1.4px;
      -webkit-text-stroke-color: #d93f42;

    &-active
      background #d44245

  .bf-panel
    height $panelH
    padding 10px
    overflow-y auto

    .hide
      display none

    .bf-panel-a
      .bf-panel-content
        width 100%
        height rem(180)
        display flex
        justify-content space-around
        align-items center
        text-align center


        ._name
          font-size 20px
          font-weight bolder
          padding-bottom 5px

        ._person
          color #666
          font-size 16px
          padding 5px 0

        > :nth-child(2)
          position relative
          display flex
          justify-content space-around
          align-items center
          width rem(170)
          height rem(90)
          flex-shrink 0
          background url('../images/bf-1.png') 0 0 no-repeat
          background-size 100% 100%

          span
            padding-top rem(15)
            font-size 24px
            font-weight bolder

            &.bf-color-a
              color #ff5160

            &.bf-color-b
              color #35acdc

    .bf-panel-b
      .bf-panel-content
        width 100%
        padding $gap 0

        .bf-row
          width 100%
          height rem(60)
          display flex
          justify-content space-around
          align-items center
          text-align center
          font-size 16px

          .win
            color #35aae0
            font-weight bolder

          .loss
            color #fd5059
            font-weight bolder

          .score
            color #ffaa00
            font-weight bolder

        .bf-panel-head
          text-align center
          font-size 22px
          font-weight bolder
          margin-bottom $gap

        .bf-icon
          width rem(60)
          margin-left rem(10)
          vertical-align middle


      .bf-divider
        width 100%
        height rem(100)
        background url("../images/divider.png") center center no-repeat
        background-size rem(472) rem(68)