.ccb
  $bdH = rem(398)

  .ccb-bd
    height $areaLeftBdH2
    font-size 13px
    & > table
      border-collapse: collapse;
      border-radius 8px
      border-spacing 0 0
      padding 0
      margin 0
      height 100%
      width 100%
      border #d97268
      tr
        height 40px
       td, th
         text-align center
