.ccb
  $bdH = rem(398)
  $trH = ($areaLeftBdH2 / 6)

  .ccb-bd
    height $areaLeftBdH2
    font-size 13px
    overflow hidden

    & > table
      width 101%
      margin: 0;
      padding: 0;
      background: none;
      border-collapse: collapse;
      border-spacing: 0;
      border none
      $borderColor = #d97268

      tr
        height $trH
        text-align center

        td, th
          border-left 1px solid $borderColor
          border-top 1px solid $borderColor

