@import "./vendor/vendor.styl"


// 设备尺寸
$deviceWidth = 1280px
$deviceHeight = 720px

html, body
  position relative
  height 100%

.pc-root
  width 100%
  height 100%
  position relative
  background url("../images/bg.png") 0 0 no-repeat
  background-size cover

/* Common */
.supper-title
  font-size: 20px;
  color yellow
  font-weight bolder
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: #d93f42;
  letter-spacing: 5px;

/* 各模块样式 */
@import "qwb.styl"
@import "bf.styl"
@import "ccb.styl"