@import "./vendor/vendor.styl"


// 设备尺寸
$deviceWidth = 1280px
$deviceHeight = 720px

/* Common */
.supper-title
  font-size: 20px;
  color yellow
  font-weight bolder
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: #d93f42;
  letter-spacing: 5px;

.pc-root
  position relative

/* 各模块样式 */
@import "qwb.styl"
@import "bf.styl"
@import "ccb.styl"