@import "./vendor/vendor.styl"


// 设备尺寸
$deviceWidth = 1920px
$deviceHeight = 1080px

// 计算rem
rem(n)
  (n/192)rem

$areaLeftW = rem(1180)
$areaRightW = rem(552)

html, body
  position relative
  height 100%

html
  font-size 192px

body
  background url("../images/bg.png") 0 0 no-repeat
  background-size 100%
  font-size 14px
  background-attachment fixed

.pc-root
  position relative
  padding rem(60) rem(60) 0
  display flex
  justify-content center
  width rem(1920)

.area-l
  width $areaLeftW

.area-r
  width $areaRightW
  margin-left 10px

/* Common */
.super-title
  display flex
  align-items center
  height 35px
  padding-left 10px
  margin-bottom 10px
  border-left 8px solid #c61a1e
  font-size: 24px;
  color yellow
  font-weight bolder
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: #d93f42;
  letter-spacing: 5px;

.content-border
  border 2px solid rgba(#e41c1d, 0.68)
  border-radius 8px
  box-shadow 0 0 5px #d93f42
  background #fefefe
  opacity 0.9

/* 各模块样式 */
@import "qwb.styl"
@import "bf.styl"
@import "ccb.styl"