.qwb
  width $w = $areaLeftW
  height $h = 300px

  .qwb-bd
    display flex
    justify-content space-between
    // h - title - title/bottom
    height ($h - 35px - 10px)

  .qwb-panel
    width ($w / 2) - rem(5)
    & > table
      width ($w / 2) - rem(5)
      & > tbody > tr
        height 35px
        text-align center
