.qwb
  width $w = $areaLeftW
  height rem(60) + rem(386)

  .qwb-bd
    display flex
    justify-content space-between
    height rem(386)

  .qwb-panel
    width ($w / 2) - rem(5)
    & > table
      width ($w / 2) - rem(5)
      & > tbody > tr
        height rem(40)
        text-align center
.qwb-pre_tr
  height 40px
.qwb-pre_title
  font-weight bold
  margin 10px
